<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>CRM Web Application</display-name>

    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/spring-localization-servlet.xml
            /WEB-INF/spring/root-context.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>dealServlet</servlet-name>
        <servlet-class>com.becomejavasenior.DealController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dealServlet</servlet-name>
        <url-pattern>/deal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>com.becomejavasenior.access.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

</web-app>