<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>CRM Web Application</display-name>

    <welcome-file-list>
        <!--<welcome-file>index.jsp</welcome-file>-->
        <welcome-file>jsp/menu.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-localization-servlet.xml
            classpath:/service-config.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>dealServlet</servlet-name>
        <servlet-class>com.becomejavasenior.DealController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dealServlet</servlet-name>
        <url-pattern>/deal</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>com.becomejavasenior.dashboard.DashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>com.becomejavasenior.access.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.becomejavasenior.access.SignOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.becomejavasenior.access.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/dealslist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/settings</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/tasklist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/contactlist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedFilter</filter-name>
        <servlet-name>SignOut</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedFilter</filter-name>
        <servlet-name>dealServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedFilter</filter-name>
        <servlet-name>dashboardServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizedFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

</web-app>