<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:property-placeholder location="classpath:postgresql_config.properties"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>
    <bean id="dealDAO" class="com.becomejavasenior.impl.DealTemplateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="taskDAO" class="com.becomejavasenior.impl.TaskTemplateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="companyDAO" class="com.becomejavasenior.impl.CompanyTemplateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="contactDAO" class="com.becomejavasenior.impl.ContactTemplateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="eventDAO" class="com.becomejavasenior.impl.EventTemplateDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>